{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: "Varela Round", sans-serif;
    background-color: #151630;
}

.form{
    background-image: linear-gradient(#1391ff, #0145ff);
    width: 400px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align:center;
    border-radius: 16px;
    padding: 120px 50px;
    box-shadow: 2px 2px 8px #000000ab;
}

.img-overlay::before{
    content:'';
    background-image: url("https://images.pexels.com/photos/1591447/pexels-photo-1591447.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.18;
    width: 500px;
    height: 600px;
    border-radius: 16px;
    z-index:-1;

}

.icon{
    position: absolute;
    top:40px;
    right: 40px;
    color: rgba(255,255,255,0.5);
    cursor: pointer;
}

.form h1{
    color: white;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 3rem;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    border-bottom: 1px solid rgba(231,231,231,0.8);
    
}

.inputs:hover{
    border-bottom: 2px solid #fff;
    transition: 0.2s ease-in-out;
}

#email, #email::placeholder{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: rgba(255,255,255,0.5);
    margin-top: 0.5rem;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
}

#password, #password::placeholder{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: rgba(255,255,255,0.5);
    margin-top: 0.5rem;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
}

#password2, #password2::placeholder{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: rgba(255,255,255,0.5);
    margin-top: 0.5rem;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
}

.button{
    width: 100;
    background:white;
    border: none;
    border-radius: 30px;
    padding: 14px 14px;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #0145ff;
    outline: none;
    cursor:pointer
}

.button:hover{
    width: 100;
    background:transparent;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 14px 14px;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    outline: none;
    transition: 0.3s ease-in-out;
    cursor:pointer
}
p{
    color:  rgba(255,255,255,0.5);
    font-size: 0.8rem;
    margin-top: 0.5rem;
}